body {
  font-family: "Roboto", sans-serif;
  color: black;
  background-image: linear-gradient(beige, tan);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  margin: 0px;
  color: white;
  background-image: url("../public/assets/images/mike-kenneally-TD4DBagg2wE-unsplash.jpg");
  background-size: cover;
}

#menu h3 {
  border-bottom: 2px solid brown;
  font-weight: bold;
}

.navLink {
  color: rgb(70, 70, 70);
}

/* .row {
  border: 1px solid green;
} */

/* .container {
  border: 1px solid red;
} */
